# Ignore virtual environment
myenv/

# Streamlit secrets
.streamlit/secrets.toml

# Python cache
__pycache__/
*.pyc

# Environment variable files
.env
*.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db
